In [4]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../plant-pathology-2020-fgvc7/train.csv', encoding='utf8')
df = df.fillna(0)

In [4]:
df.head()

  image_id  healthy  multiple_diseases  rust  scab
0  Train_0        0                  0     0     1
1  Train_1        0                  1     0     0
2  Train_2        1                  0     0     0
3  Train_3        0                  0     1     0
4  Train_4        1                  0     0     0

In [17]:
df['label'] = 0*df['healthy'] + 1*df['multiple_diseases']+2*df['rust']+3*df['scab']

In [20]:
df.head(5)

  image_id  healthy  multiple_diseases  rust  scab  label
0  Train_0        0                  0     0     1      3
1  Train_1        0                  1     0     0      1
2  Train_2        1                  0     0     0      0
3  Train_3        0                  0     1     0      2
4  Train_4        1                  0     0     0      0

In [35]:
train = pd.read_csv('../output/split/StratifiedKFold/train_fold_3_seed_960630.csv')

In [36]:
train.head()

   Unnamed: 0 image_id  healthy  multiple_diseases  rust  scab  label
0           0  Train_0        0                  0     0     1      3
1           1  Train_1        0                  1     0     0      1
2           2  Train_2        1                  0     0     0      0
3           3  Train_3        0                  0     1     0      2
4           4  Train_4        1                  0     0     0      0

In [37]:
train[train['label']==3].sum()

Unnamed: 0                                                      379017
image_id             Train_0Train_7Train_8Train_11Train_12Train_16T...
healthy                                                              0
multiple_diseases                                                    0
rust                                                                 0
scab                                                               474
label                                                             1422
dtype: object

In [38]:
train[train['label']==2].sum()

Unnamed: 0                                                      409431
image_id             Train_3Train_10Train_14Train_15Train_21Train_2...
healthy                                                              0
multiple_diseases                                                    0
rust                                                               498
scab                                                                 0
label                                                              996
dtype: object

In [39]:
train[train['label']==1].sum()

Unnamed: 0                                                       58430
image_id             Train_1Train_6Train_25Train_36Train_62Train_74...
healthy                                                              0
multiple_diseases                                                   73
rust                                                                 0
scab                                                                 0
label                                                               73
dtype: object

In [40]:
train[train['label']==0].sum()

Unnamed: 0                                                      346203
image_id             Train_2Train_4Train_5Train_9Train_13Train_18Tr...
healthy                                                            412
multiple_diseases                                                    0
rust                                                                 0
scab                                                                 0
label                                                                0
dtype: object

In [10]:
a = np.asarray([[1,2,3,4],[1,2,3,4],[1,2,3,4]])

In [11]:
a.shape

(3, 4)

In [23]:
a[:, 0]

array([1, 1, 1])